.CreateAccount{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightseagreen; */
    background-image: radial-gradient(whitesmoke,rgba(173, 216, 230, 0.5),rgba(32, 178, 171, 0.4));
    perspective: 1500px;
    /* perspective-origin: 90% 40%; */
    animation: CloseUp 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes CloseUp {
    0%{perspective: 1px;}
    100%{perspective: 1500px;}
}

.cube{
    /* display: none; */
    position: relative;
    height: 600px;
    width: 600px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:translateZ(-2900px);
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.float{
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%{transform:translateZ(300px) translateY(0px);}
    50%{transform:translateZ(300px) translateY(30px);}
    100%{transform:translateZ(300px) translateY(0px);}
}
.sides{
    position: absolute;
    background-color: rgba(32, 178, 171, 0.201);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform-origin: center;
}
.top{
    transform: rotateX(90deg) translateZ(300px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(300px);
}
.left{
    transform: rotateY(90deg) translateZ(300px);
}
.right{
    transform: rotateY(-90deg) translateZ(300px);
}
.front{
    transform: translateZ(300px);
    z-index: 1;
}
.front > p{
    letter-spacing: 1px;
    position: absolute;
    font-size: 100px;
    cursor: pointer;
}
.expand{
    transform-origin: center;
    transition: .5s;
    transition-delay:.5s;
    height: 90vh;
    width: 60vw;
    background-color: rgba(32, 178, 171, 0.4);
    transform: translateZ(100px);
    border-radius: 10px;
}
.back{
    transform: translateZ(-300px) rotateY(180deg);
}
.shadow{
    position: absolute;
    opacity: .6;
    background-color: lightgrey;
    height: 550px;
    width: 550px;
    transform: rotateX(-90deg) translateZ(400px) translateY(2000px);
    filter: blur(100px);
    animation: shadow 2s ease-in-out infinite;
}
@keyframes shadow {
    50%{height: 500px;width: 500px;opacity: 1;}
}


/*Onclick*/
.roll{
    transform: translateZ(-100px) ;
    font-size: 10vh;
    height: 200px;
    width: 200px;
}